/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

html {
	height: 100vh;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;
}

body:has(#cbxBigSquares:checked) {
	--square-size: 40px;
}

body:has(#cbxShowGridlines:checked) {
	--gridline-size: 0.9px;
}

#mainHeaderRight {
	display: flex;
	align-items: start;
	gap: 7px;
	position: relative;

	#divSettings {
		position: absolute;
		background-color: var(--background-color);
		padding: 4px;
		border: 1px solid var(--border-color);
		min-width: 200px;
		right: 0;

		display: flex;
		flex-direction: column;
		gap: 5px;
		label {
			min-height: 30px;
		}
	}
}

@media (max-width: 650px) {
	#mainHeader {
		grid-template-columns: 0fr 1fr 1fr !important;
	}
}

@media (max-width: 450px) {
	#mainHeader {
		grid-template-columns: 1fr !important;
		justify-items: center;
		
		#mainHeaderLeft, #mainHeaderRight {
			justify-self: auto;
		}
		#mainHeaderRight {
			#divSettings {
				position: relative;
			}
		}
	}
}

main {
	flex-grow: 1;
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	user-select: none;
	padding: 5px;
}

footer {
	figure {
		text-align: center;
		margin: 5px;
	}
}

gw-switch {
	min-width: 20px;
}

#fsetMode {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin-inline: auto;

	> label {
		padding-block: 5px;
		flex-grow: 1;
		justify-content: center;
	}
}

.scroll-container:has(> #tblField) {
	width: 100%;
	overflow-x: auto;

	max-height: 640px;
	overflow-y: auto;

	padding-block: 5px;
	padding-inline: 5px;
}

#tblField {
	table-layout: fixed;
	width: initial;
	margin-inline: auto;

	border: 1px solid var(--border-color);

	td {
		padding: 0;
		border: 0;
	}

	gw-mine-square {
		contain: strict;
	}

	.dig-indicator, .flag-indicator, .q-indicator {
		display: none;
	}

	button[data-sts="null"]:is(:focus-within, :hover) {
		&[aria-labelledby="spnSquareDigLabel"] {
			outline: none !important;
			position: static !important;
			.dig-indicator {
				display: block;
			}
		}
		&[aria-labelledby="spnSquareFlagLabel"][aria-pressed="false"] {
			outline: none !important;
			position: static !important;
			.flag-indicator {
				display: block;
			}
		}
		&[aria-labelledby="spnSquareUnknownLabel"][aria-pressed="false"] {
			outline: none !important;
			position: static !important;
			.q-indicator {
				display: block;
			}
		}
	}

	button, .dug-square {
		aspect-ratio: 1 / 1;
		width: var(--square-size, 30px);
		height: var(--square-size, 30px);

		display: flex;
		justify-content: center;
		align-items: center;

		overflow: clip;
		box-shadow: 0px 0px 0px var(--gridline-size, 0px) var(--border-color);
	}

	button {
		border: 2.5px outset var(--sqr-border-color);
		&[aria-pressed="true"] {
			border-color: var(--selected-color);
		}
	}

	.dug-square {
		&:not([data-Cnt]) {
			background-color: var(--mine-bkg-color);
		}
		&[data-Cnt="0"] {
			background-color: var(--sqr-0-bkg-color);
			> * {
				opacity: 0;
			}
		}
		&[data-Cnt="1"] {
			background-color: var(--sqr-1-bkg-color);
			color: var(--sqr-1-color);
		}
		&[data-Cnt="2"] {
			background-color: var(--sqr-2-bkg-color);
			color: var(--sqr-2-color);
		}
		&[data-Cnt="3"] {
			background-color: var(--sqr-3-bkg-color);
			color: var(--sqr-3-color);
		}
		&[data-Cnt="4"] {
			background-color: var(--sqr-4-bkg-color);
			color: var(--sqr-4-color);
		}
		&[data-Cnt="5"] {
			background-color: var(--sqr-5-bkg-color);
			color: var(--sqr-5-color);
		}
		&[data-Cnt="6"] {
			background-color: var(--sqr-6-bkg-color);
			color: var(--sqr-6-color);
		}
		&[data-Cnt="7"] {
			background-color: var(--sqr-7-bkg-color);
			color: var(--sqr-7-color);
		}
		&[data-Cnt="8"] {
			background-color: var(--sqr-8-bkg-color);
			color: var(--sqr-8-color);
		}
	}
}

#secField {
	#asiTblField {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 2px;
	}
}

form, article {
	padding: 4px;
	border-inline-start: 3px solid var(--accent-color);
	background-color: var(--background-color-2);

	h1, h2, h3, h4, h5, h6 {
		margin-block: 0;
		margin-block-start: -4px;
		margin-inline: -4px;
		padding-inline: 5px;
		background-color: var(--accent-color);
		word-break: keep-all;
		text-align: start;
	}

	.input-grid {
		display: grid;
		grid-template-columns: 1fr auto;
		row-gap: 5px;

		> label {
			text-align: end;
			display: contents;

			&:has(:focus-visible) {
				> span {
					text-decoration-line: underline;
					text-decoration-style: solid;
					text-decoration-thickness: 2px;
					text-decoration-color: var(--focus-color);
				}
				input {
					border-color: var(--focus-color);
				}
			}
		}
	}

	.footer {
		width: 100%;
		margin-top: 4px;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 5px;
	}
}

dialog {
	border: 1px solid var(--border-color);
	padding: 0;

	&::backdrop {
		background-color: var(--background-color-2);
		opacity: 0.75;
	}

	> form {
		border: none;
	}
}

#diaNew {
	> form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		min-width: 200px;
	}
}

#divFaces {
	text-align: center;
}

#divFieldFooter {
	display: flex;
	justify-content: center;
}

label {
	user-select: none;
}

button {
	display: flex;
	align-items: center;
}

input:is([type="number"], [type="string"]) {
	min-height: 24px;
	min-width: 24px;
	line-height: 18px;;
}