/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

html {
	height: 100vh;

	&.big-squares {
		--square-size: 40px;
	}
	&.show-gridlines {
		--gridline-size: 0.9px;
	}
}

h1 {
	width: fit-content;
	background-color: var(--accent-color);
	border-radius: 20px;
	padding: 4px;
}

#mainHeader div:has(h1) {
	display: flex;
	justify-content: center;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;
}

#mainHeaderRight {
	display: flex;
	align-items: start;
	gap: 7px;
	position: relative;

	#divSettings {
		position: absolute;
		background-color: var(--background-color);
		padding: 4px;
		border: 1px solid var(--border-color);
		min-width: 200px;
		right: 0;
		z-index: 2;

		display: flex;
		flex-direction: column;
		gap: 5px;
		label {
			min-height: 30px;
		}
	}
}

@media (max-width: 65px) {
	#mainHeader {
		grid-template-columns: 1fr !important;
		justify-items: center;
		
		#mainHeaderLeft, #mainHeaderRight {
			justify-self: auto;
		}
		#mainHeaderRight {
			#divSettings {
				position: relative;
			}
		}
	}
}

main {
	flex-grow: 1;
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	user-select: none;
	padding: 5px;
}

footer {
	figure {
		text-align: center;
		margin: 5px;
	}
}

gw-switch {
	min-width: 20px;
}

#fsetMode {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin-inline: auto;
	background-color: var(--background-color);
	> legend {
		background-color: var(--background-color);
	}

	> label {
		padding-block: 5px;
		flex-grow: 1;
		justify-content: center;
	}
}

.scroll-container:has(> #tblField) {
	width: 100%;
	overflow-x: auto;

	max-height: 640px;
	overflow-y: auto;

	padding-block: 5px;
	padding-inline: 5px;

	outline: none !important;

	contain: content;
}

#divFieldFooter {
	display: flex;
	justify-content: center;
	gap: 25px;
	background-color: var(--background-color);
	padding-block-start: 2px;

	.scroll-btn {
		display: none;
	}
}

@media(max-height: 912px) {
	#fsetMode {
		position: sticky;
		top: 0;
		z-index: 1;
	}
	.scroll-container:has(> #tblField) {
		max-height: initial;
	}
	#divFieldFooter {
		position: sticky;
		bottom: 0;

		.scroll-btn {
			display: flex;
		}
	}
}

#tblField {
	table-layout: fixed;
	width: initial;
	margin-inline: auto;

	border: 1px solid var(--border-color);

	td {
		padding: 0;
		border: 0;
	}

	gw-mine-square {
		contain: strict;
	}

	button[data-sts="null"]:is(:focus-within, :hover) {
		&[aria-labelledby="spnSquareDigLabel"] {
			outline: none !important;
			position: static !important;
			.dig-indicator {
				display: block;
			}
		}
		&[aria-labelledby="spnSquareFlagLabel"][aria-pressed="false"] {
			outline: none !important;
			position: static !important;
			.flag-indicator {
				display: block;
			}
		}
		&[aria-labelledby="spnSquareUnknownLabel"][aria-pressed="false"] {
			outline: none !important;
			position: static !important;
			.q-indicator {
				display: block;
			}
		}
	}

	button, .dug-square {
		outline-width: 2.5px !important;

		aspect-ratio: 1 / 1;
		width: var(--square-size, 30px);
		height: var(--square-size, 30px);

		display: flex;
		justify-content: center;
		align-items: center;

		overflow: clip;
		box-shadow: 0px 0px 0px var(--gridline-size, 0px) var(--border-color);
	}

	button {
		--bcs: var(--sqr-border-color-start);
		--bce: var(--sqr-border-color-end);

		border: 2.5px solid;
		border-block-start-color: var(--bcs);
		border-inline-start-color: var(--bcs);
		border-block-end-color: var(--bce);
		border-inline-end-color: var(--bce);

		&[aria-pressed="true"] {
			--bcs: var(--sqr-border-selected-color-start);
			--bce: var(--sqr-border-selected-color-end);

			&:active {
				--bcs: var(--sqr-border-selected-color-end);
				--bce: var(--sqr-border-selected-color-start);
			}
		}

		&:active {
			--bcs: var(--sqr-border-color-end);
			--bce: var(--sqr-border-color-start);
		}

		.dig-indicator, .flag-indicator, .q-indicator {
			display: none;
		}
	}

	.dug-square {
		&:not([data-Cnt]) {
			background-color: var(--mine-bkg-color);
		}
		&[data-Cnt="0"] {
			background-color: var(--sqr-0-bkg-color);
			> * {
				opacity: 0;
			}
		}
		&[data-Cnt="1"] {
			background-color: var(--sqr-1-bkg-color);
			color: var(--sqr-1-color);
		}
		&[data-Cnt="2"] {
			background-color: var(--sqr-2-bkg-color);
			color: var(--sqr-2-color);
		}
		&[data-Cnt="3"] {
			background-color: var(--sqr-3-bkg-color);
			color: var(--sqr-3-color);
		}
		&[data-Cnt="4"] {
			background-color: var(--sqr-4-bkg-color);
			color: var(--sqr-4-color);
		}
		&[data-Cnt="5"] {
			background-color: var(--sqr-5-bkg-color);
			color: var(--sqr-5-color);
		}
		&[data-Cnt="6"] {
			background-color: var(--sqr-6-bkg-color);
			color: var(--sqr-6-color);
		}
		&[data-Cnt="7"] {
			background-color: var(--sqr-7-bkg-color);
			color: var(--sqr-7-color);
		}
		&[data-Cnt="8"] {
			background-color: var(--sqr-8-bkg-color);
			color: var(--sqr-8-color);
		}
	}
}

#secField {
	#asiTblField {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 2px;
	}
}

form, article {
	padding: 4px;
	background-color: var(--background-color-2);

	h1, h2, h3, h4, h5, h6 {
		margin-block: 0;
		margin-block-start: -4px;
		margin-inline: -4px;
		padding-inline: 5px;
		background-color: var(--accent-color);
		word-break: keep-all;
		text-align: start;
	}

	.input-grid {
		display: grid;
		grid-template-columns: 1fr auto;
		row-gap: 5px;

		> label {
			text-align: end;
			display: contents;

			&:has(:focus-visible) {
				> span {
					background-color: var(--selected-color);
				}
				input {
					outline-width: 2px !important;
					outline-color: var(--focus-color) !important;
					outline-style: solid !important;
					outline-offset: 1px !important;
					position: relative !important;
					z-index: 100 !important;
				}
			}
		}
	}

	.footer {
		width: 100%;
		margin-top: 4px;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 5px;
	}
}

dialog {
	border: 1px solid var(--border-color);
	padding: 0;

	&::backdrop {
		background-color: var(--background-color-2);
		opacity: 0.75;
	}
}

#diaNew {
	> form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		min-width: 200px;
	}
}

#diaInfo > article {
	max-width: 900px;
	padding-block-end: 0px;

	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-rows: 1fr auto;
	column-gap: 5px;

	gw-icon {
		grid-column: 1;
		grid-row: 1 / span 2;

		&:focus {
			outline: none !important;
			background-color: var(--selected-color);
		}

		.gw-icon {
			width: initial;
			height: initial;
		}
	}
	article {
		grid-column: 2;
		grid-row: 1;

		:is(h1, h2, h3, h4, h5, h6) + p {
			margin-block-start: 0;
		}
	}
	footer {
		grid-row: 2;
		grid-column: 2;

		border: none;
		position: sticky;
		bottom: 0;

		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}
}

#divFaces {
	text-align: center;
}

label {
	user-select: none;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
}

input:is([type="number"], [type="string"]) {
	min-height: 24px;
	min-width: 24px;
	line-height: 18px;;
}