/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: CSS Variables
*/

:root {
	--background-color: #FFFFFF;
	--background-color-2: #E3E3E3;
	--text-color: #000000;
	--border-color: #000000;
	--selected-color: #90CBDB;
	--button-face-color: #C8C8C8;
	--button-text-color: #000000;
	--input-text-color: #000000;
	--input-background-color: #FFFFFF;
	--link-color: #0000EE;
	--link-background-color: #BDE0F2;
	--focus-color: #FF0701;
	--icon-color: #000000;
	--banner-color: #B3B3B3;
	--mark-color: #D2FCC5;
	--accent-color: #D5B3D9;
	--invalid-color: #5C01D8;

	--mine-bkg-color: #FFFFFF;
	--sqr-0-bkg-color: #FFFFFF;
	--sqr-1-bkg-color: #FFFFFF;
	--sqr-1-color: #000000;
	--sqr-2-bkg-color: #dfdfff;
	--sqr-2-color: #0000ff;
	--sqr-3-bkg-color: #ddffdd;
	--sqr-3-color: #008000;
	--sqr-4-bkg-color: #eeddff;
	--sqr-4-color: #400080;
	--sqr-5-bkg-color: #80ffff;
	--sqr-5-color: #000080;
	--sqr-6-bkg-color: #80ff80;
	--sqr-6-color: #004000;
	--sqr-7-bkg-color: #ff80c0;
	--sqr-7-color: #400040;
	--sqr-8-bkg-color: #660000;
	--sqr-8-color: #ff9494;

	input {
		color-scheme: light;
	}
}

@media not print {
	:root:has(#cbxDarkMode:checked) {
		--background-color: #000000;
		--background-color-2: #242424;
		--text-color: #FFFFFF;
		--border-color: #FFFFFF;
		--selected-color: #223891;
		--button-face-color: #474747;
		--button-text-color: #FFFFFF;
		--input-text-color: #FFFFFF;
		--input-background-color: #000000;
		--link-color: #74D7EE;
		--link-background-color: #3C5054;
		--focus-color: #FF0701;
		--icon-color: #FFFFFF;
		--banner-color: #404040;
		--mark-color: #005C08;
		--accent-color: #8D4A95;
		--invalid-color: #a35ffe;

		--mine-bkg-color: #000000;
		--sqr-0-bkg-color: #000000;
		--sqr-1-bkg-color: #000000;
		--sqr-1-color: #ffffff;
		--sqr-2-bkg-color: #0000ff;
		--sqr-2-color: #dfdfff;
		--sqr-3-bkg-color: #008000;
		--sqr-3-color: #ddffdd;
		--sqr-4-bkg-color: #400080;
		--sqr-4-color: #eeddff;
		--sqr-5-bkg-color: #000080;
		--sqr-5-color: #80ffff;
		--sqr-6-bkg-color: #004000;
		--sqr-6-color: #80ff80;
		--sqr-7-bkg-color: #400040;
		--sqr-7-color: #ff80c0;
		--sqr-8-bkg-color: #ff9494;
		--sqr-8-color: #660000;

		input {
			color-scheme: dark;
		}
	}
}